
server/LessonControllerServer/LessonControllerServer/bin/Debug/netcoreapp3.0/

.vs/

server/LessonControllerServer/LessonControllerServerTests/obj/Debug/netcoreapp3.0/

server/LessonControllerServer/LessonControllerDb/bin/Debug/netcoreapp3.0/LessonControllerDb.runtimeconfig.dev.json

server/LessonControllerServer/LessonControllerServer/obj/Debug/netcoreapp3.0/LessonControllerServer.csprojAssemblyReference.cache

server/LessonControllerServer/LessonControllerServer/obj/Debug/netcoreapp3.0/LessonControllerServer.csproj.FileListAbsolute.txt

*.cache

LessonControllerAPI/bin/Debug/netcoreapp3.0/

LessonControllerAPI/bin/Release/netcoreapp3.0/

LessonControllerAPI/obj/Debug/netcoreapp3.0/

LessonControllerAPI/obj/Release/netcoreapp3.0/

LessonControllerAPI/obj/Release/

LessonControllerAPI/bin/Debug/
LessonControllerDb/bin/Debug/netcoreapp3.0/

LessonControllerDb/bin/Release/netcoreapp3.0/

LessonControllerDb/obj/Debug/netcoreapp3.0/

LessonControllerDb/obj/

LessonControllerServer/bin/

LessonControllerServer/obj/

LessonControllerServerTests/bin/

LessonControllerServerTests/obj/
